body {

    background-position: center;
    background-repeat: repeat-x repeat-y;
    background-image: url(../images/fondo1.jpg);
    background-size: cover;
}


h1 {
    text-align: center;
    --border-right: 20px;
    --text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 100px;
    --animation-color: #ff00f7;
    --fs-size: 80px;
    letter-spacing: 5px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }

  .hover-h1 {
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;

    overflow: hidden;
    transition: 0s;
    -webkit-text-stroke: 1px var(--animation-color);
  }

  .h1:hover .hover-h1 {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

img {
    display: block;
    margin: auto;
    width: 900px;
}

.a {
  float: right;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link {
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

a:visited {
    color:#00fffb;
    text-shadow: #1100ff 1px 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 1px #ffffff;
    text-shadow: #4000ff 1px 0 15px; 
}
  
a:active {
    color:rgb(43, 44, 46);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 1px #ffffff;
    text-shadow: #ff00bf 1px 0 15px; 
}

a:hover {
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 0.25px #ff0099;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

/* @media only screen and (max-width: 1080px) {
  body {
    background-image: url(../images/fondor.png);
    max-width: 100%;
    background-position: top;
  }
}

.a {
  margin-top: 30px;
  margin-right: 15px;
  font-size: 40px;
}

h1 {
  font-size: 120px;
} */